[submodule "hoover_bot"]
	path = hoover_bot
	url = https://github.com/codyconfer/hoover_bot.git
[submodule "HooverCommands"]
	path = HooverCommands
	url = https://github.com/codyconfer/HooverCommands.git
